<article class="post" 
         :class="[ post.meta.category ? 
                   'category-' + $options.filters.id(post.meta.category) : ''
                 ]">
  
  <div class="feature">
    <img class="image" :src="post.meta.feature">
    <router-link tag="a" 
                 :to="'/category/' + $options.filters.id(post.meta.category)"
                 class="category">
      {{post.meta.category}}
    </router-link>
  </div>
  
  <div class="content">
    
    <h1 class="heading">{{post.meta.title}}</h1>
    
    <div class="description" v-html="post.meta.description"></div >
    
    <div class="author">
      By 
      <ul v-if="post.meta.author instanceof Array">
        <li v-for="author in post.meta.author">
          <router-link tag="a" :to="'/author/' + $options.filters.id(author)">
            {{author}}
          </router-link>
        </li>
      </ul>
      <span v-else>
        <router-link :to="'/author/' + $options.filters.id(post.meta.author)">
          {{post.meta.author}}
        </router-link>
      </span>
    </div>
    
    <div class="date">{{post.meta['created'].date | date}}</div>
    
    <div class="body" v-html="post.html"></div>
    
    <ul class="tags">
      <li v-for="tag in post.meta.tags" class="tag">
        <router-link tag="a" :to="'/tag/' + $options.filters.id(tag)">
          #{{tag | id}}
        </router-link>
      </li>
    </ul>
    
    <ul class="share">
      <li v-for="social in share">
        <a :class="[social == 'email' ? 'fa-share' : 'soci-' + social]"
           :href="shareURL( social, post.meta )"
           :target="social == 'email' ? '' : '_blank'"></a>
      </li>
      <li>
        <a class="fa-link copy" 
           :data-clipboard-text="location.href"></a>
      </li>
    </ul>
    
  </div>

</article>