<div class="snippet" 
     :class="[ post.meta.category ? 'category-' + $options.filters.id(post.meta.category) : '']">
  
  <div class="feature" v-if="post.meta.feature">
    
    <div class="image" :style="{ 'background-image': 'url(' + post.meta.feature + ')' }"></div>
    
    <div class="overlay"></div>
  
    <router-link v-if="post.meta.category" 
                 tag="a"
                 class="category"
                 :to="'category/' + $options.filters.id(post.meta.category)">
      {{post.meta.category}}
    </router-link>
    
    <h1 class="heading">{{post.meta.title}}</h1>
    
  </div>
  
  <div class="content">
  
    <div class="description">{{post.meta.description}}</div>
    
    <ul class="tags" v-if="post.meta.tags">
      <router-link v-for="tag in post.meta.tags" 
                   tag="li"
                   :to="'/tag/' + $options.filters.id(tag)">
        #{{tag | id}}
      </router-link>
    </ul>
    
    <router-link :to="'/post/' + post.id" 
                 tag="button" 
                 class="button more">
      Read More
    </router-link>
    
  </div>
  
</div>