<div class="author">
  
  <div class="about">
    
    <div class="portrait">
      <img class="image" :src="getImageURL()">
    </div>
  
    <h1 class="name">{{about.meta.name}}</h1>
    
    <div class="title">{{about.meta.title}}</div>
    
    <ul class="social">
      <li v-if="about.meta.website">
        <a class="fa-globe"
           :href="about.meta.website"
           target="_blank"></a>
      </li>
      <li v-if="about.meta.email">
        <a class="fa-envelope"
           :href="'mailto:' + about.meta.email"></a>
      </li>
      <li v-for="social in socials" 
          v-if="about.meta[social] && about.meta[social].link === true">
        <a :class="'soci-' + social"
           :href="socialURL(social, about.meta[social])"
           :target="social == 'skype' ? '' : '_blank'"></a>
      </li>
      <li>
        <a class="fa-link copy" 
           :data-clipboard-text="location.href"></a>
      </li>
    </ul>
    
    <div class="bio" v-if="about.html != ''" v-html="about.html"></div>
    
  </div>
  
  <div class="posts">
    
    <snippet v-for="(post, index) in posts" 
           :post="post" 
           :key="index"></snippet>
  
    <loading :loading="loading"></loading>
  
    <button class="button fetch"
            v-if="more && !loading" 
            @click="loadMore( 1000 )">
      Load More
    </button>
  
  </div>
  
</div>