/**
 * Normalize
 */
@include normalize();

/**
 * Define base styles.
 */
body {
  margin: 0;
  font-family: font('body');
  font-size: 14px;
  line-height: 1.5;
  color: $brandy-dark-text;
}

a { 
  
  $normal: color('grey', 'dark');
  $hover: shade($normal, 25%);
  
  text-decoration: none;
  color: $normal;
  display: inline-block;
  transition: all .25s ease-in-out;
  
  &:hover,
  &:focus {
    color: $hover;
  }
  
}

a, 
#{$all-buttons} {
  cursor: pointer;
}

#{$all-buttons} {
  border-radius: 0;
}

#{$all-inputs} {
  -webkit-appearance: none;
}

* { position: relative; box-sizing: border-box; }